# DATABASE_URL=postgresql://postgres:Sajjad%409582@db.tsejypnbvbtljfevteyf.supabase.co:5432/postgres
DATABASE_URL=
SECRET_KEY=yoursecretkeyhere
REDIS_HOST=localhost
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

OPENAI_API_KEY=-
# optional:
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
FORM_SUBMIT_API_KEY=1234567890
